version: "3.9"
services:
  postgres:
    image: postgres:15.3-alpine3.18
    environment:
      POSTGRES_DB: "migrate"
      POSTGRES_USER: "migrate"
      POSTGRES_PASSWORD: "migrate"
    ports:
      - "5432:5432"
    command:
      - "postgres"
      - "-c"
      - "max_connections=200"
  mysql:
    image: mysql:latest
    environment:
        MYSQL_ROOT_PASSWORD: migrate
        MYSQL_DATABASE: migrate
    ports:
      - '3306:3306'
  clickhouse:
    image: flexberry/clickhouse-official
    ports:
      - 8123:8123
      - 9000:9000